<div *ngIf="loading" class="alert alert-info">Cargando datos...</div>

<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<div class="container">
<div class="row">
<div class="card col-md-12 col-sm-6 col-lg-3 m-1 bg-light" *ngFor="let partido of partido">
  <div class="card-body">
    <h5 class="card-title">Partido</h5>

    <p class="card-text"><strong>Equipo Local:</strong> {{ partido.club_Local_Id}}</p>
    <p class="card-text"><strong>Equipo Visitante:</strong> {{ partido.club_Visitante_Id}}</p>
     <p class="card-text"><strong>Resultado:</strong> {{partido.id}}  {{partido.resultado.visitante_score}} </p>

  </div>
</div>
</div>
</div>
